<%= form_for(resource, :html => {:class => 'form-signin'}, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="card">
  <div class="card-header bg-dark">
    <h5 style="color: white;">Edit Email</h5>
  </div>
  <div class="card-body">
  <div class="form-label-group text-left">
    <%= f.email_field :email, class:"form-control", placeholder:"example@email.com", id:"inputEmail", autofocus: true, autocomplete: "email" %>
    <label for="inputEmail">Email Address</label>
  </div>
</div>
</div>
</br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<div class="card">
  <div class="card-header bg-dark">
    <h5 style="color: white;">Edit Password</h5>
  </div>
  <div class="card-body">
  <div class="form-label-group text-left">
    <%= f.password_field :password, class:"form-control", placeholder:"password", id:"inputPassword", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <label for="inputPassword">Password: <%= @minimum_password_length %> characters minimum</label>
    <% else %>
      <label for="inputPassword">Password</label>
    <% end %>
  </div>

  <div class="form-label-group text-left">
    <%= f.password_field :password_confirmation, class:"form-control", placeholder:"confirm password", id:"inputConfirm", autocomplete: "new-password" %>
    <label for="inputConfirm">Confirm Password</label>
  </div>
</div>
</div>  

</br>

  <h6>Verify Old Password to Continue</h6>
  <div class="form-label-group text-left">
    <%= f.password_field :current_password, class:"form-control", autocomplete: "current-password", id:"oldPassword" %>
    <label for="oldPassword">Verify Password</label>
  </div>

  <div class="actions">
    <%= link_to "Back", :back, class:"btn btn-sm btn-dark" %>
    <%= f.submit "Update", class:"btn btn-primary" %>
  </div>
<% end %>
<br/>
<br/>

<div class="card">
  <div class="card-header">
    <h5> Cancel my account</h5>
  </div>
  <div class="card-body">
    <p>Unhappy? Please consider reaching out to us before you cancel your account.</p>
  <%= button_to "Cancel my account", registration_path(resource_name), class:"btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>

